// Colours
$background-color: #e6ebf4;
$background-color-light: #fff;
$overlay: rgba(0, 0, 0, 0.5);

$primary: #fff;
$secondary: #b0c1df;

$border: #e1e3ec;

$font-color: #181a25;
$font-color-light: #707384;

$error: #ff4d4f;
$error-light: rgba(255, 77, 80, 0.5);
$success: #52c41a;
$warning: #faad14;

// Fonts
$font-family: "Be Vietnam Pro", sans-serif;

// Font sizes
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-large: 16px;

// Spacing
$spacing-small: 10px;
$spacing-medium: 24px;
$spacing-large: 40px;

// Border radius
$border-radius-main: 6px;

// numbers
$transition-time: 0.4s;
