// Colours
// $background-color: #1b1d28;
// $background-color-light: #202231;

// $primary: #2d3045;
// $secondary: #26293a;
$background-color: #e6ebf4;
$background-color-light: #fff;
$overlay: rgba(0, 0, 0, 0.5);

$primary: #fff;
$secondary: #b0c1df;

$border: #e1e3ec;

$font-color: #181a25;
$font-color-light: #707384;

// Fonts
$font-family: "Be Vietnam Pro", sans-serif;

// Font sizes
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-large: 16px;

// Spacing
$spacing-small: 10px;
$spacing-medium: 24px;
$spacing-large: 40px;

// Border radius
$border-radius-main: 6px;

// numbers
$transition-time: 0.4s;
