<div class="popup">
  <div class="popup-header">
    <span>{{ client.firstname }} {{ client.name }}</span>
    <fa-icon
      (click)="closePopup()"
      class="icon icon-close"
      [icon]="faClose"
    ></fa-icon>
  </div>
  <div class="popup-content">
    <div class="table">
      <div class="table-row table-heading">
        <div class="table-row-item">Account</div>
        <div class="table-row-item">Type</div>
        <div class="table-row-item">Number</div>
        <div class="table-row-item">Balance</div>
        <div class="table-row-item">Date of creation</div>
      </div>
      @for (account of client.accounts; track account.id; let i = $index) {
        <div class="table-row">
          <div class="table-row-item">
            <span>Account:</span>{{ account?.name }}
          </div>
          <div class="table-row-item">
            <span>Type:</span>{{ account?.card_type }}
          </div>
          <div class="table-row-item">
            <span>Number:</span>{{ account?.number }}
          </div>
          <div class="table-row-item">
            <span>Balance:</span>
            {{ account?.balance | currency: "£" }}
          </div>
          <div class="table-row-item">
            <span>Date of creation:</span
            >{{ account?.created | date: "dd/MM/yyyy" }}
          </div>
        </div>
      }
    </div>
  </div>
</div>
<div class="popup-overlay" (click)="closePopup()"></div>
