@import "../../styles/variables.scss";

.popup {
  color: $font-color;
  left: 0;
  margin: auto;
  position: fixed;
  right: 0;
  top: 10vh;
  max-width: 700px;
  max-height: 500px;
  min-height: 200px;
  padding: $spacing-medium;
  background-color: $background-color-light;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  border-radius: $border-radius;
  border: 1px solid $border;

  &-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &-content {
    display: flex;
    flex-direction: column;
    padding: $spacing-medium;
    width: 100%;
    border-radius: $border-radius;
  }

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
    &-close {
      cursor: pointer;
    }
  }

  &-overlay {
    background-color: $overlay;
    opacity: 0.9;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
  }

  .no-accounts {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: $font-size-large;
    margin-top: $spacing-large;
  }

  .table {
    display: flex;
    flex-flow: column nowrap;
    width: 90%;
    margin: 0 auto;
    border-radius: $border-radius;
    outline: 1px solid $border;

    @media (max-width: 570px) {
      flex-direction: column;
    }

    &-row {
      display: flex;
      flex-flow: row wrap;
      width: 100%;
      background-color: $primary;
      border-bottom: 1px solid $border;

      @media (max-width: 570px) {
        flex-direction: column;
      }

      &:last-child {
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
        border-bottom: none;
      }

      &-item {
        display: flex;
        flex: 1;
        font-size: $font-size-medium;
        padding: 8px 0;
        justify-content: center;
        align-items: center;
        transition: all 0.15s ease-in-out;

        span {
          display: none;
        }

        @media (max-width: 570px) {
          span {
            display: flex;
            font-weight: 500;
            justify-content: left;
            margin-right: 4px;
          }
        }
      }
    }

    &-heading {
      background-color: $secondary;
      font-weight: bold;
      border-top-right-radius: 6px;
      border-top-left-radius: 6px;

      @media (max-width: 570px) {
        display: none;
      }
    }
  }
}
