<div class="home">
  @if (isLoading | async) {
    <fa-icon
      class="icon icon-loader"
      [icon]="faSpinner"
      [animation]="'spin'"
    ></fa-icon>
  } @else {
    <div class="home-header">
      <!-- search bar for filtering the clients by firstname -->
      <input
        type="text"
        class="search"
        placeholder="Search by firstname"
        (input)="searchClients($event)"
      />
    </div>

    @for (client of clientsData | async; track client.id) {
      <div class="client">
        <div class="client-header">
          <span>Client ID: {{ client.id }}</span>
          <button (click)="openPopup(client)">All accounts</button>
        </div>

        <div class="client-content">
          <div class="client-info">
            <div class="client-info-title">Date of birth</div>
            <div>
              <!-- TODO: move logic to component -->
              {{
                client.birthday !== "None"
                  ? (client.birthday | date: "dd/MM/yyyy")
                  : "None"
              }}
            </div>
            <div class="client-info-title">First name</div>
            <div>{{ client.firstname }}</div>
            <div class="client-info-title">Surname</div>
            <div>{{ client.name }}</div>
          </div>
          @if (client.accounts.length > 0) {
            <div class="client-charts">
              <app-pie-chart
                class="client-charts-pie"
                (selectedPieAccounts)="selectedPieAccounts($event)"
                [client]="client"
              ></app-pie-chart>
              <div class="client-charts-bar">
                <div class="filters">
                  <div class="filters-title">Filter account type</div>
                  <div class="filters-container">
                    @for (
                      account of client.accounts | uniqueAccounts;
                      track account.id
                    ) {
                      <div class="filters-checkboxes">
                        <input
                          type="checkbox"
                          [id]="account.id"
                          [name]="account.card_type"
                          [value]="account.display"
                          (change)="
                            filterClientAccounts(client.id, account.card_type)
                          "
                          checked
                        />
                        <label for="current">{{ account.card_type }}</label>
                      </div>
                    }
                  </div>
                </div>
                <app-bar-chart
                  class="client-charts-bar"
                  (click)="openPopup(client)"
                  [highlightedAccounts]="highlightedAccounts"
                  [client]="client"
                ></app-bar-chart>
              </div>
            </div>
          } @else {
            <div class="no-accounts">No accounts</div>
          }
        </div>
      </div>
    }
  }

  @if (isPopupOpen && (activeClient | async); as client) {
    {{ client }}
    <div class="popup">
      <div class="popup-header">
        <span>{{ client.firstname }} {{ client.name }}</span>
        <fa-icon
          (click)="closePopup()"
          class="icon icon-close"
          [icon]="faClose"
        ></fa-icon>
      </div>
      <div class="popup-content">
        @if (client.accounts && client.accounts.length > 0) {
          <div class="table">
            <div class="table-row table-heading">
              <div class="table-row-item">Account</div>
              <div class="table-row-item">Type</div>
              <div class="table-row-item">Number</div>
              <div class="table-row-item">Balance</div>
              <div class="table-row-item">Date of creation</div>
            </div>
            @for (
              account of (activeClient | async)?.accounts;
              track account.id;
              let i = $index
            ) {
              <div class="table-row">
                <div class="table-row-item">{{ account?.name }}</div>
                <div class="table-row-item">{{ account?.card_type }}</div>
                <div class="table-row-item">{{ account?.number }}</div>
                <div class="table-row-item">
                  {{ account?.balance | currency: "£" }}
                </div>
                <div class="table-row-item">
                  {{ account?.created | date: "dd/MM/yyyy" }}
                </div>
              </div>
            }
          </div>
        } @else {
          <div class="no-accounts">No accounts</div>
        }
      </div>
    </div>
    <div class="overlay" (click)="closePopup()"></div>
  }
</div>
