<div class="home">
  @if (isLoading | async) {
    <fa-icon
      class="icon icon-loader"
      [icon]="faSpinner"
      [animation]="'spin'"
    ></fa-icon>
  } @else {
    @if ((clientsData | async)?.length === 0) {
      <div class="no-clients">No clients to display</div>
    } @else {
      <div class="home-header">
        <div class="search">
          <input
            type="text"
            placeholder="Search by firstname"
            (input)="searchClients($event)"
          />
        </div>
      </div>

      @if ((clientsDataDisplay | async)?.length === 0) {
        <div class="no-clients no-clients-search">
          No clients match the search
        </div>
      } @else {
        @for (client of clientsDataDisplay | async; track client.id) {
          <app-client
            [client]="client"
            (openPopupClick)="openPopup($event)"
          ></app-client>
        }
      }
    }
  }

  @if (isPopupOpen && (activeClient | async); as client) {
    <app-popup [client]="client" (closePopupClick)="closePopup()"></app-popup>
  }
</div>
